# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# PyCharm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Archivos temporales
*.log